.video-player {
  width: 100%;
}

.recipeContent {
  display: flex;
  flex-direction: column;
}

.recipeButton {
  padding: 5px;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 2px;
  overflow: hidden;
  color: whitesmoke;
  background-color: gray;
  float: unset;
}

.recipeButton:hover {
  background-color: rgb(150, 150, 150);
  border: 1px solid rgb(100, 100, 100);
}

.pempekList {
  background-color: transparent;
  border: 0;
  float: unset;
}

.pempekList:hover {
  color: rgb(100, 100, 100);
}
